logs
*.log
*.local

node_modules
backend/node_modules
frontend/node_modules
frontend/dist

.env
backend/.env
backend/.env.local
backend/.env.development
backend/.env.test
backend/.env.production

mongodb_data
coverage

.DS_Store